body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8272da;
    overflow: auto;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

#container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 70vh;
    height: 70vh;
    min-height: 250px;
    min-width: 250px;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 20px solid #23272A;
    border-radius: 15px;
}

.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 0;
    user-select: none;
}

/* Selectors */

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector-container {
    display: flex;
    flex-direction: row;
    background-color: #23272A;
    padding: 13px;
    border-radius: 15px;
}

.selector-container > div {
    padding: 7px 7px 7px 7px;
    background-color: #151718;
    border-radius: 10px;
}

.size-container {
    margin-right: 15px;
}

button,
input {
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 3px solid black;
}

.color-container {
    display: flex;
}

.color-container > div {
    margin: 0px 5px 0px 5px;
}

.color-container > div:hover {
    scale: 1.2;
}

.color {
    height: 20px;
    width: 20px;
    border-radius: 8px;
}