body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 70vh;
    height: 70vh;
    min-height: 250px;
    min-width: 250px;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 0;
}